.like-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ▼ WHERE YOUR CODE BEGINS */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #E5E5E5;
  font-family: 'Poppins', sans-serif;
}

.card {
  display: flex;
  justify-content: flex-start;
  max-width: 900px;
  background-color: #FFF;
  padding: 24px;
}

.card-image {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 6px;
  background-image: url(./assets/img-house.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-right: 24px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.like-button {
  position: absolute;
  top: 12px;
  left: 12px;
  border: none;
  border-radius: 50%;
  background-image: url('./assets/icon-favorite.svg');
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center center;
  width: 36px;
  height: 36px;
}

.plus-badge {
  display: inline-block;
  padding: 1px 8px;
  background-color: #92174D;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42857142;
  color: #FFF;
  text-transform: uppercase;
}

.property-type span {
  font-size: 16px;
  line-height: 1.25;
  color: #7D858F;
}

.property-rate::before {
  content: url('./assets/icon-star.svg');
  width: 13.33px;
  height: 12.67px;
}

.property-rate strong {
  font-size: 16px;
  line-height: 1.25;
  color: #151B26;
}

.property-rate span {
  font-size: 16px;
  line-height: 1.25;
  color: #7D858F;
}

.sr-only {
  display: none;
}

.card-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 16px;
}

.property-detail div {
  color: #7D858F;
  font-size: 14px;
  line-height: 1.14285714;
  margin-bottom: 8px;
}

.property-detail span:first-of-type ~ ::before {
  content: '· ';
}